@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}

body {
  background-color: #181818
}

.chat-container {
  position: absolute;
  top: 35px;
  left: 35px;
  right: 35px;
  bottom: 35px;
  border-radius: 12px;
  background-color: #1c1c1c;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 767px) {
  .chat-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-header h2 {
  margin: 0;
  font-size: 24px;
}

.chat-header button {
  background-color: #434343;
  color: #fff;
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  display: grid;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.chat-header button :hover {
  transform: scale(0.95);
}

.chat-header button :active {
  transform: scale(0.9);
  animation-name: buttonClick;
  animation-duration: 0.5s;
}

button:disabled,
button[disabled]{
  cursor: not-allowed;
}

@keyframes buttonClick {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.chat-messages {
  flex: 1;
  max-height: calc(100% - 80px);
  overflow-y: scroll;
  padding: 10px;
  background: var(--color-primary);
  background-size: 1800% 1800%;

  scrollbar-color: #666 #1c1c1c;
  scrollbar-width: thin;
  border-bottom: 1px solid #444;
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
  background: #1c1c1c;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 20px;
  border: 3px solid #1c1c1c;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-message p {
  padding: 10px;
  border-radius: 5px;
  background-color: #333;
  white-space: pre-wrap;
  color: #fff;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #444;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  white-space: pre-wrap;
}
.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.chat-input input::placeholder {
  color: #ccc;
}

.chat-input button {
  background-color: #434343;
  color: #fff;
  margin-left: 10px;
  padding: 10px 2px;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  display: grid;
  align-items: center;
  width: 80px;
  position: relative;
  cursor: pointer;
}

.chat-input button:hover {
  transform: scale(0.95);
}

.chat-input button:active {
  transform: scale(0.9);
  animation-name: buttonClick;
  animation-duration: 0.5s;
}

.examples {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
  height: 25rem;
}

.examples-header {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  margin: 0 auto;
  margin-top: 0;
  height: 3rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
}

.examples-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 22rem;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.examples-btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #434343;
  color: #fff;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.examples-btn:hover,
.examples-btn:focus {
  background-color: #5c5b5b;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  background: #121212;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
}

.modal p {
  padding: 10px;
  white-space: pre-wrap;
  color: #fff;
}

.modal input[type="text"] {
  width: 100%;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal button {
  background-color: #434343;
  color: #fff;
  margin-left: 10px;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.modal button:hover {
  transform: scale(0.95);
}

.modal button:active {
  transform: scale(0.9);
  animation-name: buttonClick;
  animation-duration: 0.5s;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  cursor: pointer;
}

.loading-dots::before {
  content: "";
  display: inline-block;
  animation: loading-dots 1s infinite;
}

@keyframes loading-dots {
  0% { content: ""; }
  33% { content: "."; }
  66% { content: ".."; }
  100% { content: "..."; }
}

code {
  font: 13px 'Fira Code', monospace;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 6px;
  white-space: pre-wrap;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 4px solid #343541;
  background-color: #191a1a;
  padding: 0px 3px;
  display: inline-block;
  margin: 0px;
}

[data-theme="dark"] {
  background-color: #181818;
}

[data-theme="dark"] .chat-conatiner {
  background-color: #1c1c1c;
}

[data-theme="dark"] .chat-header {
  background-color: #333;
}

[data-theme='dark'] .chat-messages {
  background-color: #262626;
  border-bottom: 3px solid #444;
}

[data-theme="dark"] .chat-header button {
  background-color: #434343;
  color: #fff;
}

[data-theme="dark"] .chat-messages::-webkit-scrollbar-track {
  background: #1c1c1c;
}

[data-theme="dark"] .chat-messages::-webkit-scrollbar-thumb {
  background-color: #666;
  border: 3px solid #1c1c1c;
}

[data-theme="dark"] .chat-message p {
  background-color: #333;
  color: #fff;
}

[data-theme="dark"] .chat-input {
  border-top: 1px solid #444;
}

[data-theme="dark"] .chat-input input {
  background-color: #333;
  color: #fff;
}

[data-theme="dark"] .chat-input input::placeholder {
  color: #ccc;
}

[data-theme="dark"] .chat-input button {
  background-color: #434343;
  color: #fff;
}

[data-theme="dark"] .examples-header {
  color: #fff;
}

[data-theme="dark"] .examples-btn {
  background-color: #434343;
  color: #fff;
}

[data-theme="dark"] .examples-btn:hover,
.examples-btn:focus {
  background-color: #5c5b5b;
}


[data-theme="light"] {
background-color: #f7f7f7;
}

[data-theme="light"] .chat-container {
background-color: #ffffff;
}

[data-theme="light"] .chat-header {
background-color: #ebebeb;
color: #333333;
}

[data-theme="light"] .chat-header button {
background-color: #e6e6e6;
color: #333333;
}

[data-theme="light"] .chat-messages::-webkit-scrollbar-track {
background: #e6e6e6;
}

[data-theme="light"] .chat-messages::-webkit-scrollbar-thumb {
background-color: #cccccc;
border: 3px solid #c1c1c1;
}

[data-theme="light"] .chat-message p {
background-color: #f2f2f2;
color: #333333;
}

[data-theme='light'] .chat-messages {
background-color: #f1f1f1;
border-bottom: 3px solid #c1c1c1;
}

[data-theme="light"] .chat-input {
border-top: 1px solid #ffffff;
}

[data-theme="light"] .chat-input input {
background-color: #e1e1e1;
color: #333333;
}

[data-theme="light"] .chat-input input::placeholder {
color: #999999;
}

[data-theme="light"] .chat-input button {
background-color: #e1e1e1;
color: #333333;
}

[data-theme="light"] .examples-header {
color: #333333;
}

[data-theme="light"] .examples-btn {
background-color: #dfdfdf;
color: #333333;
}

[data-theme="light"] .examples-btn:hover,
.examples-btn:focus {
background-color: #d9d9d9;
}
